/**
 * 组件 - 活动列表
 * activitiesView.less
 * -----------------------------------
 * 19/02/18 Jerry 新增
 */

@import '../pagingTip/pagingTip.less';

.activities-view {
  .clear-after;

  .activity-item {
    padding: @text-margin-l @text-margin;
    border-bottom: @border-gray-light;

    .flex-start {
      align-items: flex-start;
      margin-bottom: @text-margin;
    }

    .activity-text {
      padding-left: @text-margin;
      position: relative;
    } /* .activity-text */

    /* 活动名称 */
    .activity-name {
      overflow:hidden; /* 超出一行文字自动隐藏 */
      text-overflow:ellipsis; /* 文字隐藏后添加省略号 */
      white-space:nowrap; /* 强制不换行 */
    }

    /* 活动标签 */
    .activity-tags {
      padding: @text-margin-s 0;

      .tag-item {
        .flex-start;
        margin-bottom: @text-margin-xs;
        height: @bar-height-xs;

        .tag-name {
          margin-right: @text-margin;
          padding: 0 @text-margin-xl;
          color: @color-white;
          background-color: @color-primary;
          border-radius: @text-margin;
        }

        &:last-child {
          margin-bottom: 0;
        }

      } /* .tag-item */

    } /* .activity-tags */

    /* 活动摘要 */
    .activity-summary {
      height: @bar-height-xl;
      overflow: hidden;
      color: @color-gray-dark;
      background-color: #ccc;
    } /* .activity-summary */

    .activity-summary-more {
      text-align: right;
      color: @color-blue;
    } /* .activity-summary-more */

    /* 入口主图 */
    .activity-img {

      image {
        .ico-avatar;
      }
    } /* .activity-img */

    /* 倒计时 */
    .activity-countdown {

      .countdown-label {
        display: inline-block;
      }

      .countdown-val {
        display: inline-block;
        margin-left: @text-margin;

        > view {
          display: inline-block;

          > text {
            display: inline-block;
            margin: 0 @text-margin-xs;
            width: @text-margin-xl * 2;
            font-size: @text-size-s5;
            text-align: center;
            color: @color-white;
            background-color: @color-primary;
            border-radius: @text-margin-xs;
          } /* > text */

        } /* > text */

      } /* .countdown-val */

    } /* .activity-countdown */

  } /* .activity-item */

} /* .activities-view */
