/**
 * 账户日志列表
 * accountLogsView
 * -----------------------------------
 * 19/02/22 Jerry 更新
 */

@import '../pagingTip/pagingTip.less';

.log-item {
  .flex-between;
  padding: @text-margin @text-margin-xl;
  border-bottom: @border-gray-light;

  .log-label {
    margin-top: @text-margin-xs;
    color: @color-gray-dark;
    font-size: @text-size-s3;
  }

  .log-text {
    width: 75%;
  } /* .log-text */

  .log-val-and-op {
    width: 25%;
    text-align: right;

    .log-val {
      color: @color-green;

      &.minus-val {
        color: @color-red;
      }

    } /* .log-val */

  } /* .log-val-and-op */

} /* .log-item */
