/**
 * 购物车
 * myCart
 * -----------------------------------
 * 19/02/28 Jerry 更新
 */

@import '../../../variables.less';

.my-cart {
  /* 留出底部"统计"栏的高度，总计：100rpx。这里扣掉 最后一个 .cart-item 的 margin-bottom 10rpx，剩 90rpx */
  padding-bottom: 70rpx;

  /* 购物车提示 */
  .cart-tip {
    .flex-start;
    padding: 0 @text-margin-l;
    height: @bar-height;
    font-size: @text-size-s5;
    color: @color-white;
    background-color: @color-primary;
  } /* .cart-tip */

  /* 回收清单入口 */
  .cart-expired {
    .flex-between;
    padding: 0 @text-margin-l;
    height: @bar-height;
    border-bottom: @border-gray-light;

    .btn {
      float: left;
    }

    .expire-count {
      text-align: right;
    }

  } /* .cart-expired */

  /* 合计及下单 */
  .cart-ops {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    height: @bar-height;
    /* 浮动在 .quantity-spinner 之上 */
    z-index: 2;

    /* 合计 */
    .cart-total {
      .flex-between;
      padding: 0 @text-margin-l;
      width: 70%;
      box-sizing: border-box;
      background-color: @color-gray-light;

      /* 总件数 */
      .total-qty {
        .flex-start;
        background-color: @color-gray-light;

        image {
          padding: 15rpx 0;
          .ico-m;
        }

        text {
          margin-left: 15rpx;
        }

      } /* .total-qty */

      /* 总金额 */
      .total-amount {
        .flex-end;
        font-size: @text-size-m3;
        color: @color-primary;
        background-color: @color-gray-light;
      
      } /* .total-amount */

    } /* .cart-total */

    /* 下单 */
    .cart-done {
      .flex-center;
      width: 30%;
      font-size: @text-size-m3;
      color: @color-white;
      background-color: @color-primary;

      &.disabled {
        color: @color-gray;
        background-color: @color-gray-dark;
      }

    } /* .cart-done */

  } /* .cart-ops */

  /* 关注商品标题 */
  .wish-tip {
    .flex-center;
    height: @bar-height;
    background-color: @color-gray-light;
  }

} /* .my-cart */
