/**
 * 首页
 * index
 * -----------------------------------
 * 19/02/25 Jerry 更新
 */

@import '../../../variables.less';
@import '../../../component/common/tabNav/tabNav.less';
@import '../../../component/common/searchBar/searchBar.less';
@import '../../../component/common/activitiesView/activitiesView.less';

/* 搜索区域 */
.search-wrapper {
  .flex-between;

  .activity-entry {
    .ico-m;
    margin-left: @text-margin;
  }

} /* .search-wrapper */

/* 广告楼层 */
.ad-wrapper {
  position: relative;
  border-bottom: none;

  swiper {
    height: @bar-height * 3;
  }

  image {
    width: 100%;
  }

  .indicator-tip {
    position: absolute;
    right: 30rpx;
    bottom: 30rpx;
    width: 40rpx;
    height: 20rpx;
    line-height: 20rpx;
    text-align: center;
    font-size: @text-size-xs;
    border-radius: 5rpx;
    border: @border-gray-light;
    background-color: fade(@color-white, 50%);
  }

} /* .ad-wrapper */

/* 快捷入口区 */
.category-wrapper {
  .flex-between;
  padding: 0 @text-margin;
  height: @bar-height;
  border-top: @border-gray-light;

  image {
    .ico-s;
  }

  .category-label {
    color: @color-primary;
  }

  .category-items {
    padding: 0 @text-margin;
    width: 480rpx;
    white-space: nowrap;
    box-sizing: border-box;
    border-left: @border-gray;

    .category-item {
      display: inline-block;
      margin: 0 @text-margin-xl 0 0;

      &:last-child {
        margin: 0;
      }

    } /* .category-item */

  } /* .category-items */

} /* .category-wrapper */
