/**
 * 组件 - 搜索条样式（不参与wxss编译）
 * search.less
 * -----------------------------------
 * 18/03/19 Jerry 新增
 */

.search-bar {
  .flex-between;
  padding: @text-margin-s @text-margin;
  width: 100%;
  box-sizing: border-box;

  > view {
    .flex-start;
    width: 90%;
    background-color: @color-gray-light;
    border: @border-gray-light;
    border-radius: @text-margin-xl;

    /* 前缀图标 */
    .prefix {
      .ico-m;
      margin: 0 @text-margin-s;
    }

    /* 后缀图标 */
    .endfix {
      .ico-m;
      margin: 0 @text-margin-s;
    }

    .ipt {
      .flex-start;
      width: 80%;
      height: @bar-height-l / 2;
      border: none;
    }

    /* 搜索 / 取消 */
    .op {
      color: @color-text;
    }

  } /* .ipt-wrapper */

  &.readonly {

    > view {
      width: 100%;
    }

  } /* &.readonly */

} /* .search-bar */


/* 搜索历史 */
.search-history {
  position: fixed;
  top: 100rpx;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: @color-white;
  /* 保证显示时，z-index在其他业务浮动层之上 */
  z-index: 1;

  .title {
    position: relative;
    display: block;
    padding: 0 40rpx;
    height: 80rpx;
    line-height: 80rpx;

    image {
      position: absolute;
      top: 27rpx;
      right: 40rpx;
      .ico-s;
    }

  } /* .title */

  .body {
    padding: 0 40rpx;

    text {
      display: inline-block;
      margin: 0 30rpx 20rpx 0;
      padding: 5rpx 20rpx;
      border-radius: 5rpx;
      border: @border-gray;
    }

  } /* .body */

} /* .search-history */
