/**
 * 组件 - 分页提示
 * pagingTip.less
 * -----------------------------------
 * 18/03/27 Jerry 新增
 */

.paging-tip {

  .no-records {
    padding: @bar-height-xl 0;
    text-align: center;

    image {
      width: @bar-height * 2;
      height: @bar-height * 2;
      margin-bottom: -@text-margin-xxl;
    }

  } /* .no-records */

  text {
    .flex-center;
    height: @bar-height;
    color: @color-gray-dark;
  }

} /* .paging-tip */
