/**
 * 个人中心
 * myCenter
 * -----------------------------------
 * 19/02/20 Jerry 更新
 */
 
@import '../../../variables.less';

.my-center {

  /* 配置楼层 */
  .config-floor {
    .flex-start;
    padding: @text-margin @text-margin-xxl;
    background-color: @color-primary;

    image {
      .ico-m;
    }

    text {
      margin-left: @text-margin-s;
    }

  } /* .config-floor */

  /* 会员楼层 */
  .user-floor {
    .flex-between;
    padding: @text-margin-xxl;
    background-color: @color-primary;

    /* 会员信息 */
    .user-inf {
      .flex-start;

      /* 会员头像 */
      .user-avatar {
        .ico-avatar;
        margin-right: @text-margin-l;
        border-radius: 100rpx;
      } /*.user-avatar  */

      /* VIP标识 */
      .user-member {
        padding: 0 @text-margin;
        text-align: center;
        font-size: @text-size-s3;
        color: @color-gray;
        border: @border-gray;
        border-radius: @text-margin-s;
        background-color: @color-white;

        &.user-vip {
          color: @color-red-light;
          border-color: @color-red-light;
        }

      } /* .user-member */

      .user-name {
        margin-top: @text-margin-s;
      }

    } /* .user-inf */

    /* 会员编号/已购服务数 */
    .user-ex {
      text-align: right;

      .user-code {
        font-size: @text-size-s3;
      }

      .user-serv-cnt {
        margin-top: @text-margin-s;

        text {
          padding: 0 @text-margin;
          font-size: @text-size-s3;
          color: @color-white;
          border-radius: @text-margin-s;
          background-color: @color-blue;
        }

      } /* .user-serv-cnt */

    } /* .user-ex */

  } /* .user-floor */

  /* 积分账户 */
  .point-floor {
    .flex-between;
    margin: @text-margin;
    padding: @text-margin-s @text-margin;
    border: @border-gray-light;
    border-radius: @text-margin;

    .point-text {
      .flex-start;

      text {
        color: @color-red-light;
        font-size: @text-size-xl;
      }

    } /* .point-text */

    .point-recharge {
      padding: 0 @text-margin-xl;
      color: @color-primary;
      border: @border-primary;
      border-radius: @text-margin-s;
    } /* .point-recharge */

  } /* .point-floor */

  /* 销售业绩 */
  .sale-floor {

    .count-grp {
      .clear-after;
      padding: @text-margin-xl 0;

      > view {
        float: left;
        width: 33.3%;
        text-align: center;

        view:last-child {
          margin-top: @text-margin-xs;
          color: @color-red-light;
          font-size: @text-size-l;
        }

      } /* > view */

    } /* .count-group */

  } /* .sale-floor */

  /* 通用楼层 */
  .my-floor {
    margin: @text-margin;
    border: @border-gray-light;
    border-radius: @text-margin;

    /* 楼层标题 */
    .floor-title {
      .flex-between;
      padding: @text-margin;
      background-color: @color-primary;
      border-top-left-radius: @text-margin;
      border-top-right-radius: @text-margin;

      .title-text {
        color: @color-white;
      }

      .title-nav {
        .flex-end;
        color: @color-white;

        image {
          .ico-m;
        }

      } /* .title-nav */

    } /* .floor-title */

    /* 功能图标 */
    .floor-icos {
      .clear-after;
      padding: @text-margin-xl;

      .ico-item {
        position: relative;
        float: left;
        margin: @text-margin 0;
        width: 25%;
        text-align: center;

        > image {
          width: @bar-height-s;
          height: @bar-height-s;
        }

        > text {
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          width: @text-margin-l;
          height: @text-margin-l;
          border-radius: @text-margin-l;
          background-color: @color-red-light;
        }

      } /* .ico-item */

    } /* .floor-icos */
  
  } /* .my-floor */

} /* .my-center */
