/**
 * 订单付款结果
 * orderPayResult.less
 * -----------------------------------
 * 18/03/30 Jerry 新增
 */

@import '../../../variables.less';
@import '../../../less/orderProps.less';
@import '../../../component/common/addressesView/addressesView.less';

.order-pay-result {

  /* 支付结果提示 */
  .result-tip {
    margin-top: @bar-height-xl;
    text-align: center;

    .tip-ico {
      .ico-avatar-l;
    }

    .tip-text {
      margin-top: @text-margin;
      font-size: @text-size-xl;
      font-weight: bold;
    }

    .tip-summary {
      .flex-center;
      margin-bottom: @bar-height-xl;
      height: @bar-height;
      font-size: @text-size-s3;
    }

  } /* .result-tip */

  .op-btns {

     .btn {
      display: inline-block;
      margin: 0;
      width: 50%;
      color: darken(@color-blue, 15%);
      border: none;
      box-sizing: border-box;

      &:first-child {
        border-right: @border-gray-light;
      }

     } /* .btn */

  } /* .op-btns */

} /* .order-pay-result */
